In [ ]:
#basic output

In [2]:
print("Hello World")

Hello World

In [ ]:
##insert a variable into a String

In [1]:

person = input("what is your name? ")
message = "Hello, {}!".format(person)
print(message)

what is your name?  Mishari

Hello, Mishari!

In [ ]:
## Multiline Strings and String Length

In [1]:
story ="""once upon a time
there live a bear family
who ate delicious pizza"""
print(story)
print(len(story))

once upon a time
there live a bear family
who ate delicious pizza
65

In [ ]:
##Math Operations

In [4]:
x = 7
y = 4
z = ( x * 3 ) / y
m = ( x * 3 ) % y #module return the reminder
print(z)
print(m)

5.25
1

In [ ]:
## Lists (Arrays)

In [5]:
friends = ['Monica', 'Phoebe', 'Rachel', 'Chandler', 'Joy', 'Ross']
print(friends[2])

Rachel